


<div class="jumbotron text-center">
  <div>
      <h5 class="text-info"> {{"authorTitle" | translate }}  :  {{"authorName" | translate}} </h5>
  </div>
    <div class="container">
        <h2 class="text-info">{{"greetings" | translate}}</h2>
        <div class="btn-group">
          <button type="button" class="btn btn-success mr-1" (click)='translateLang("com_IN")'>India</button>

        </div>

        <div class="btn-group">
          <button type="button" class="btn btn-info mr-1" (click)='translateLang("com_JP")'>Japan</button>

        </div>

        <div class="btn-group">
            <button type="button" class="btn btn-danger mr-1" (click)='translateLang("com_SK")'>South Korea</button>


          </div>

  </div>
</div>

<div class="row">
<div class="col-md-4">
  <div class="thumbnail">

    <a  target="_blank">
      <img src="assets/images/india-culture-map.jpg" alt="India" style="height: 100%; width:100%">

    </a>
  </div>
</div>
<div class="col-md-4">
  <div class="thumbnail">
    <a target="_blank">
      <img src="assets/images/japan-culture-map.png" alt="Japan" style="width:100%">

    </a>
  </div>
</div>
<div class="col-md-4">
  <div class="thumbnail">
    <a target="_blank">
      <img src="assets/images/sk-culture-map.jpg" alt="South Korea" style="width:100%">

    </a>
  </div>
</div>
</div>
<div class="row">
    <div class="col-sm-4">
      <h2 class="text-center">{{"countryIND" | translate}}</h2>
    </div>
    <div class="col-sm-4">
        <h2 class="text-center">{{"countryJP" | translate}}</h2>
    </div>
  <div class="col-sm-4">
      <h2 class="text-center">{{"countrySK" | translate}}</h2>
  </div>









